[Unit]
Description=Node.js TV Server
After=network.target

[Service]
ExecStart=/usr/bin/node /home/user/tv/server.js
WorkingDirectory=/home/user/tv
Restart=always
User=user
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
